.headerWrapper {
  height: 56px;
  width: 100%;
  background: #000;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
}

.headerLogoSearch {
  height: 100%;
  padding: 8px 0px;
  box-sizing: border-box;
}

.headerLogo {
  height: 40px;
  width: 40px;
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(127deg, #00FF19 0%, #FFD600 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerImgLogo {
  height: 100%;
}

.headerSearch {
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
}

.headerSearchIcon {
  background-color: #3A3B3C;
  height: 100%;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.headerMenuGrid {
  /*  */
}

@media (max-width: 1279px) {
  .headerSearchIcon {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    justify-content: center;
  }

  .showSearch .headerSearchIcon {
    width: 30px;
    border-radius: 50px 0px 0px 50px;
  }
}

.headerSearchIcon svg {
  width: 16px;
  height: 16px;
}

.headerSearchIcon svg * {
  fill: #B0B3B8;
}

.headerInputSearch {
  width: 212px;
  height: 100%;
  border: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #3A3B3C;
  color: #fff;
  font-size: 12px;
  padding: 0px 5px;
  box-sizing: border-box;
}

@media (max-width: 1279px) {
  .headerInputSearch {
    width: 0px;
    padding: 0px;
  }

  .showSearch .headerInputSearch {
    width: 212px;
    padding: 0px 5px;
  }
}

.headerInputSearch::placeholder {
  color: #fff;
  font-size: 12px;
}

.headerMainMenu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.headerMenuItem {
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.headerMenuGrid {
  display: none;
}

.textMenu {
  display: none;
}

@media (max-width: 991px) {
  .headerMenuItem {
    width: 60px;
  }
}

@media (max-width: 639px) {
  .headerMainMenu {
    left: unset;
    right: 106px;
  }

  .headerMenuGrid {
    display: block;
  }

  .menu {
    position: absolute;
    right: -80px;
    top: 100%;
    background: #242526;
    display: none;
    width: 220px;
    border-radius: 5px;
    overflow: hidden;
  }

  .menu .headerMenuItem {
    width: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    white-space: nowrap;
  }

  .menu .headerMenuItem .textMenu {
    color: #fff;
    display: block;
  }

  .headerMainMenu .menu.active {
    display: block;
  }

  .headerSearch.showSearch {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    height: 40px;
  }
}

.headerMenuItem:hover {
  background-color: #3a3b3cff;
}

.headerMenuItem.active svg * {
  fill: #EB00FF;
}

.headerMenuItem svg {
  width: 26px;
  height: 26px;
}

.headerMenuItem svg * {
  fill: #b9bbbfff;
}

.headerMoreSetting {
  height: 100%;
  box-sizing: border-box;
}

.headerSetting,
.headerUser {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerUser {
  height: 100%;
}

.headerIconUser {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

.headerImgUser {
  height: 100%;
}

.headerIconSetting {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3a3b3cff;
}

.headerIconSetting:hover {
  background: #4e4f50ff;
}