.wrapper {
  position: fixed;
  background: linear-gradient(135deg, #0500FF 0%, #AE32FF 100%);
  width: 55px;
  height: 55px;
  z-index: 100;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: all .3s linear;
}