@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  cursor: pointer;
  color: #000;
}

.transition-all * {
  transition: all .3s linear;
}

input:focus,
textarea:focus {
  outline: 0;
}

.no-sb::-webkit-scrollbar {
  height: 0;
  width: 0;
  display: none;
  background-color: transparent;
}