.wrapper {
  position: absolute;
  right: -50px;
  top: 100%;
  background: #242526;
  width: 220px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.volumnWrapper {}

.playListActive[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.labelPlayListActive {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.labelPlayListActive:after {
  content: '';
  position: absolute;
  top: 1.05px;
  left: 1px;
  width: 22.5px;
  height: 22.5px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.playListActive:checked+.labelPlayListActive {
  background: #EB00FF;
}

.playListActive:checked+.labelPlayListActive:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

.labelPlayListActive:active:after {
  width: 32.5px;
}