.playBottom {
  position: fixed;
  bottom: -150px;
  visibility: hidden;
  height: 90px;
  width: 100%;
  border-top: 1px solid rgba(172, 172, 172, 0.2);
  z-index: 11;
  background: #18191aff;
  transition: bottom .3s linear;
}

.playBottom.show {
  bottom: 0;
  visibility: visible;
}

.playBottom.show.fullPageControl {
  border-top: 0px;
  background: transparent;
}

.hideControl {
  width: 50px;
  height: 30px;
  background: #18191aff;
  position: absolute;
  bottom: 90px;
  left: 20px;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hideControl svg {
  width: 16px;
  height: 16px;
}

.figure {
  min-width: 56px;
  max-width: 56px;
}

.figure img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.infoSong {
  max-width: 300px;
}

@media (max-width: 1023px) {
  .infoSong {
    visibility: hidden;
  }
}

.info {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.showOption svg * {
  fill: #fff;
}

.options {
  position: absolute;
  right: 0;
  bottom: calc(100% + 10px);
  box-sizing: border-box;
  border-radius: 5px;
  background: #282828ff;
  overflow: hidden;
  padding: 5px 0px;
  visibility: hidden;
  transition: all .3s linear;
  z-index: 10;
}

.showOption:hover .options {
  visibility: visible;
  bottom: 100%;
}

.optionItem {
  padding: 3px 15px;
}

.optionItem:hover {
  background: #535353ff;
}

.iconHoverOption {
  transform: rotate(90deg);
}

.iconOption svg {
  width: 24px;
}

.volumnWrapper {
  width: 120px;
}

.playList svg {
  width: 34px;
  height: 34px;
}

.lineHeight {
  width: 1px;
  height: 50%;
  background: rgba(100, 100, 100, 0.5);
}

/* -------------------------------- */
.controlPlay {
  max-width: 476px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1023px) {
  .controlPlay {
    left: 0px;
    transform: translate(0px, -50%);
  }

  .fullPageControl .controlPlay {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.actionPlay svg {
  width: 40px;
  height: 40px;
}

.action * {
  transition: none !important;
}

.action svg {
  width: 16px;
  height: 16px;
}

.action.disabled {
  opacity: .5;
}

.action.active svg * {
  fill: #AE32FF;
}

.action.strokeActive svg * {
  stroke: #AE32FF;
}

.audio {
  width: 0;
  height: 0;
  position: fixed;
  top: -100vh;
  opacity: 0;
  z-index: -100;
}

/* ----------------- */

.audioBlur {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 100px;
  height: 100px;
  visibility: hidden;
}

.audioBlur.show {
  visibility: visible;
}

.wavesBlock {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullPage {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullPage svg {
  width: 14px;
  height: 14px;
  transition: all .3s linear;
}

.fullPage:hover svg {
  transform: scale(1.2);
}

.wrapperPlayFullPage {
  position: fixed;
  left: 0;
  bottom: 90px;
  width: 100vw;
  height: 0px;
  overflow: hidden;
  z-index: 20;
  background: transparent;
  transition: height .3s linear;
}

.wrapperPlayFullPage.active {
  height: calc(100vh - 90px);
}

.bgImageFullPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: ;
}

.wrapBgImageFullpage {
  position: fixed;
  bottom: 0px;
  left: 0;
  height: 0px;
  width: 100vw;
  transition: all .3s linear;
  z-index: 10;
  background: #000;
}

.wrapBgImageFullpage.active {
  height: 100vh;
  width: 100vw;
}

.bgImageFullpage {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.wrapBgImageFullpage:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
}

@keyframes waves {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
  }
}

.waves {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(235, 0, 255, 1);
  opacity: 0;
  border-radius: 100%;
  -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
  width: 100%;
  height: 100%;
}

.wave_0 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.wave_1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.wave_2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.iconPlay {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #0500FF;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .controlVolumn {
    visibility: hidden;
  }

  .controlPlay {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fullPage {
    position: absolute;
    top: 0;
    right: -20px;
  }
}

@media (max-width: 640px) {
  .controlPlay {
    transform: translate(-50%, -50%) scale(0.8);
  }
}